<html>
    <head>
        {% include 'bootstrap.html' %}
        <title>EasyOP</title>
        <style>
            #banner {
                width: 850;
                padding-top: 15px;
            }
        </style>
    </head>
    <body>
        {% include 'header.html' %}
    <div class = 'ms-5'>
        <h1>{{companyName}}</h1>
        <img class="img-fluid" id="banner" src="https://th.bing.com/th/id/OIP.dOrjtVMUFW0bGOgsaJVWawHaCU?rs=1&pid=ImgDetMain">

    <h2 class = 'mt-4'>About EasyOP</h2>
    
    <p class = 'lead mb-4'>This business makes business more organised with tech enable solution for inventory and billing management. We will help shop owners to keep real time track of their inventory, manpower and money which will make life of business owner very easy.</p>

    <h2>Inventory</h2>
    <p class = 'lead'>
        <div>
        {% for inventory in inventory %}
        {% include 'inventoryitem.html' %}
        {% endfor %}
        </div>
    </p>
    <div style="display: flex; justify-content: center;">
        <button class ='btn btn-primary'>Add Inventory</button>
    </div>
    </div>
    {% include 'footer.html' %}
    </body>
</html>