<div class="border-bottom ms-2 row" style="margin-bottom: 4px;">
    <div class="col-9">
    <h4 style="color: rgb(120,120,120);margin-bottom: 4px;">{{inventory['Company']}} - {{inventory['Model']}}
    </h4>
{% if 'Color' in inventory %}
<div>
    <b>Color :</b>{{inventory['Color']}}
</div>
{% endif %}
<div style='margin-bottom:20px;'>
    <b>Price : </b> {{inventory['Price']}}
</div>
</div>
<div class = "col-3">
<button type="button" class="btn btn-outline-primary mt-4">Show Details</button>
</div>
</div>