<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Inventory</title>
    </head>
    <body>
        {% include 'header.html' %}
        <h2>Id : {{inventory.Id}}</h2>
        <h2>{{inventory.Company}} : {{inventory.Model}}</h2>
        <p>{{inventory.Color}} | Price : {{inventory.Price}} | Qty : {{inventory.Quantity}}</p>
        <p>Discription : {{inventory.Discription}}</p>
        {% include 'footer.html' %}
    </body>
</html>