<html>
    <head>
        {% include 'bootstrap.html' %}
        <title>EasyOP</title>
        <style>
            #banner {
                width: 850;
                padding-top: 15px;
            }
        </style>
    </head>
    <body>
        {% include 'header.html' %}
    <div class = 'mx-3 mt-3'>
        <h1 class="ms-5">Inventory</h1>
    <p class = 'lead'>
        <div class="mx-5">
        {% for inventory in inventory %}
        {% include 'inventoryitem.html' %}
        {% endfor %}
        </div>
    </p>
    <div style="display: flex; justify-content: center;">
        <a href="/AddInventory" class="btn btn-primary">Add Inventory</a>
    </div>
    </div>
    {% include 'footer.html' %}
    </body>
</html>